@keyframes transitionIn {
    0% {
        opacity: 0;
        transform: rotateX(-10deg);
    }
  
    100% {
        opacity: 1;
        transform: rotateX(0);
    }
  
  }

  * {
      max-width: 100vw
  }
  
  .hero-image {
      object-fit: cover;
      width: 100vw;
      height: 100%;
      position: fixed;
      z-index: -1;
  }
  
  .news-overlay {
    background-image: var(--background-image);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vw;
    color: white;
    text-align: center;
    border-bottom: #0c2e59 4px solid;
  }
  
  .news-container {
    width: 75vw !important;
    margin: 5em 1em;
    border: 1px solid #0c2e59;
    border-radius: 20px;
    padding: 2em 1em 1em 2em;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    animation: transitionIn 1s;
  }

  .news-header {
    color: #0c2e59;
    font-family: 'Oswald', sans-serif;
    margin-bottom: -75px;
    margin-left: 10px;
  }

  .news {
      font-style: normal !important;
      color: #0c2e59;
      font-family: 'EB Garamond', serif !important;
    font-size: 3vmin !important;
    text-align: left;
    margin-top: -10px;
    margin-bottom: 1.5em;
    max-width: 95%;
    margin-left: 1vw;
  }

  .storyWrap {
      margin-left: -10px;
  }
  
  @media screen and (max-width: 600px) {
    .news-container {
      min-width: 90%;
      margin-bottom: 2em;
      margin-top: 2em;
    }
  
  }

  
  
  