
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

.aniTitleWrap {
    margin-bottom: 7vmin;
}

.animated-title {
  margin-top: -70px;
  color: #0c2e59;
  font-family: 'Oswald', sans-serif;
  /* font-family: 'EB Garamond', serif !important; */
  /* text-shadow:
    -1px -1px 14px red; */
  height: 60vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 62vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;

}
.animated-title > div div {
  text-shadow:
    1px 1px 25px white,
    1px 1px 25px white,
    1px 1px 25px white,

    1px 1px 25px white;
  font-size: 6vmin;
  line-height: 3vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid #32517b;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  font-size: 15vmin;
  line-height: 15vmin;
  color: #0c2e59;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

.top-animation {
    text-align: left;
    font-size: 12vmin;
    line-height: 10vmin;
    color: #0c2e59;
}

.location {
    display: flex;
    flex-direction: row;
    font-family: 'EB Garamond', serif !important;
}

@media screen and (max-width: 400px) {
    .animated-title {
        margin-top: -100px;
    }
}