@keyframes transitionIn {
    0% {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    50% {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    100% {
        opacity: 1;
        transform: rotateX(0);
    }

}

.hoursTableWrap {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hoursTable {
    /* animation: transitionIn 1s; */
    animation: transitionIn 4s;
    margin-top: 30vmin;
    margin-bottom: 10px;
    margin-left: -5vmin;
    color: #0c2e59;
    font-size: 23px;
    font-family: 'Oswald', sans-serif;
    line-height: 23px;
    text-shadow:
    1px 1px 10px white,
    1px 1px 20px white,
    1px 1px 25px white,
    1px 1px 10px white,
    1px 1px 20px white,
    1px 1px 25px white,
    1px 1px 25px white;
}

th {
    text-align: right; 
    padding-right: 10px;
}

@media screen and (max-width: 500px) {
    .hoursTable {
        margin-top: 180px;
        transition: all 0.2s ease-out;
        animation: transitionIn 0s;
    }
}

@media screen and (max-width: 450px) {
    .hoursTable {
        margin-top: 95px;
        font-size: 20px;
        line-height: 20px;
    }
}

@media screen and (max-width: 400px) {
    .hoursTable {
        margin-top: 75px;
        font-size: 5vmin;
        line-height: 5vmin;
    }
}
