.numNaddyWrap {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.numNaddy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroLinks {
    /* animation: transitionIn 1s; */
    animation: transitionIn 4.5s;
    text-decoration: none;
    color: #0c2e59;
    font-size: 4vmin;
    font-family: 'Oswald', sans-serif;
    line-height: 5vmin;
    text-shadow:
    1px 1px 10px white,
    1px 1px 20px white,
    1px 1px 25px white,
    1px 1px 10px white,
    1px 1px 20px white,
    1px 1px 25px white,
    1px 1px 25px white;
}

.heroLinks:hover {
    transition: all 0.2s ease-out;
    font-size: 4.2vmin;
}

@keyframes transitionIn {
    0% {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    /* 50% {
        opacity: 0;
        transform: rotateX(-10deg);
    } */

    100% {
        opacity: 1;
        transform: rotateX(0);
    }

}

@media screen and (max-width: 500px) {
    .heroLinks {
        font-size: 20px;
        line-height: 35px;
        animation: transitionIn 0s;
    }
}

@media screen and (max-width: 350px) {
    .heroLinks {
        font-size: 7vmin;
        line-height: 2em;
    }
}