.footer-container {
    background: linear-gradient(120deg, rgba(255, 255, 255, .7),rgba(255, 255, 255, 0.975));
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: #0c2e59 4px solid;
}

.footer-subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: -24px;
    padding: 24px;
    color: #0c2e59;
}

.footer-subscription > p {
    font-family: 'Oswald', sans-serif;
}

.footer-subscription-heading {
    margin-bottom: 12px;
    font-size: 6vmin;
    line-height: 5.5vmin;
    width: 90vw;
}

.footer-subscription-text {
    font-family: 'EB Garamond', serif !important;
    margin-bottom: 24px;
    font-size: 5vmin;
}

.footer-input {
    padding: 8px 20px;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    border: 3px solid #32517b;
    margin-bottom: 10px;
}
/* 
.footer-links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer-link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer-link-items h2 {
    margin-bottom: 16px;
}

.footer-link-items > h2 {
    margin-top: -50px;
    font-family: 'Amatic SC', cursive;
    color: #0c2e59;
    font-size: 40px;
}

.footer-link-items a {
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
    color: #0c2e59;
    text-decoration: none;
    margin-bottom: 8px;
}

.footer-link-items a:hover {
    color: #e9e9e9;
    transition: 0.3s ease-out;
} */

.footer-email-form h2 {
    margin-bottom: 32px;
}

.footer-input::placeholder {
    color: #32517b;
}

.social-icon-link {
    color: #0c2e59;
    font-size: 24px;
}

.social-media {
    max-width: 1000px;
    width: 100%;
}

.social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.social-logo {
    color: #0c2e59;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'EB Garamond', serif !important;
    display: flex;
    align-self: center;
    margin-bottom: 16px;
}

.social-logo:hover,
.social-icon-link:hover {
    color: #32517b;
}

.website-rights {
    color: #0c2e59;
    margin-bottom: 16px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px !important;
}

@media screen and (max-width: 1030px) {
    .footer-subscription-heading {
        margin-bottom: 24px;
        /* font-size: 40px; */
    }
}

@media screen and (max-width: 820px) {
    .footer-subscription-heading {
        margin-bottom: 24px;
        /* font-size: 26px; */
    }

    .footer-links {
        padding-top: 2rem;
    }

    .footer-input {
        width: 100%;
    }

    .btn {
        width: 100%;
    }

    .footer-link-wrapper {
        flex-direction: column;
    }

    .social-media-wrap {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .footer-subscription-heading {
        margin-bottom: 24px;
        /* font-size: 23px; */
    }
}