@keyframes transitionIn {
    0% {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    100% {
        opacity: 1;
        transform: rotateX(0);
    }

}


.logo-card-overlay {
    background-image: var(--background-image);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    width: 100vw;
    color: white;
    text-align: center;
}

.logo-cards__wrapper {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    animation: transitionIn 1s;
}

.logo-card-header {
    color: #0c2e59;
    font-family: 'Oswald', sans-serif;
    font-size: 4vmax;
    margin-top: 40px;
    animation: transitionIn 1s;
}

.logo-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-cards__items {
    
    margin: 40px 40px 0px 40px;
}

.logo-cards__img {
    width: 16em;
    border-radius: 20px;
}

@media screen and (max-width: 650px) {
    .logo-row{
        flex-direction: column;
        margin: 10px;
    }
}

@media screen and (max-width: 450px) {
    .logo-cards__wrapper,
    .logo-card-header {
        animation: transitionIn 0s;
    }
}