@keyframes transitionIn {
    0% {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    100% {
        opacity: 1;
        transform: rotateX(0);
    }

}

* {
    max-width: 100vw
}

.text-container {
    width: 75vw !important;
    margin: 5em 1em;
    border: 1px solid #0c2e59;
    border-radius: 20px;
    padding: 2em 1em 1em 2em;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    animation: transitionIn 1s;
}

.text-overlay {
    background-image: var(--background-image);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    border-bottom: #0c2e59 4px solid;
}

.headCompWrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pageText {
    font-style: normal !important;
    color: #0c2e59;
    font-family: 'EB Garamond', serif !important;
    font-size: 3vmin !important;
    text-align: left;
    /* margin-top: -10px; */
    margin-top: -3vmax;
    margin-bottom: 1.5em;
    max-width: 95%;
    margin-left: 1vw;
}



@media screen and (max-width: 600px) {
    .text-container {
    min-width: 90%;
    margin-bottom: 2em;
    margin-top: 2em;
    }

    .pageText {
        margin-top: -6vmax;
    }
}
